:root {
    --ghost-accent-color: #f35e63;
    --font-family-one: "Inter", sans-serif;
    --font-weight-one-light: 300;
    --font-weight-one-bold: 700;

    --font-family-two: "Inter", sans-serif;
    --font-weight-two-bold: 700;

    --font-family-three: "Inter", sans-serif;
    --font-weight-three-regular: 400;
    --font-weight-three-medium: 500;
    --font-weight-three-bold: 700;

    --letter-spacing: -0.01em;
}

@media (min-width: 1481px) {
    .hero-title {
        max-width: 1070px;
    }
}


.item.is-top.is-first .item-image {
    aspect-ratio: 4/3.05;
}

.subscribe-form {
    padding: 28px 34px 32px;
}

.subscribe-title {
    margin: 0 0 2.4vh;
}

@media (max-width: 1480px) {
    .subscribe-form {
        padding: 30px;
    }
}

@media (max-width: 1280px) {
    .subscribe-form {
        padding: 26px 2vw;
    }
}

@media (max-width: 1024px) {
    .subscribe-form {
        padding: 20px;
    }
}

.post-sidebar .subscribe-form {
    padding: 22px 25px 25px;
}

.footer-section .subscribe-form {
    padding: 20px 26px 28px;
}

body.is-scroll-banner .is-banner {
    bottom: 30px;
}

.is-banner {
    font-size: 24px;
    position: fixed;
    z-index: 9999;
    right: 2%;
    bottom: -100px;
    display: inline-block;
    padding: 2px 10px;
    transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-property: bottom, transform;
    color: #171822;
    border-radius: 100px;
    background-color: #97fe65;
}

.is-banner,
.is-banner:hover {
    color: #171822;
}

.is-banner:hover {
    transform: translateY(-3px);
}

@media (max-width: 1024px) {
    .is-banner {
        display: none !important;
    }
}

.text-capitalize {
    text-transform: capitalize;
}

.text-center {
    text-align: center;
}

.d-none {
    display: none;
}

.mr-2 {
    margin-right: .5rem;
}

.mb-2 {
    margin-bottom: .5rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.global-margin {
    margin-bottom: 6rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.col-md {
    grid-column: 1 / span 2;
    width: 100% !important;
}

.post-sidebar-lnh {
    position: inherit;
    right: -4vw;
}

@media (max-width: 1024px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .global-margin {
        margin-bottom: 0rem;
    }
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 10px;
}

.lds-ellipsis div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: var(--color-body);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

/*estilos para posts publicar */
.public-is-active {
    overflow-y: scroll;
}

.public-section {
    position: absolute;
    z-index: 997;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    min-width: 100%;
}

.public-wrap, .public-meta {
    pointer-events: none;
}

.public-wrap, .public-content {
    position: relative;
    z-index: 998;
}

.public-wrap {
    max-width: 760px;
    margin: 7vh auto;
}

.public-section, .public-overlay, .public-is-active .global-wrap {
    top: 0;
    right: 0;
    left: 0;
    min-height: 100%;
}

.public-is-active .public-wrap {
    -webkit-animation: searchOne .2s ease;
    animation: searchOne .2s ease;
}

.public-overlay {
    position: fixed;
    z-index: 996;
    background-color: var(--opacity-search);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.public-content {
    max-width: 100%;
    margin: 0 2vw;
    background-color: var(--color-six);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, .1), 0 8px 10px -6px rgba(0, 0, 0, .1);
    will-change: transform;
}

/* estilos de input:file */
.upload-button {
    /* Used to position the input */
    position: relative;

    /* Center the content */
    align-items: center;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;

    /* Border */
    border: 1px solid rgb(124 139 154/25%);
    transition: border-color .15s ease;
    /* max-width: 860px; */
    width: 100%;

}

.upload-button__input {
    /* Take the full size */
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    /* Make it transparent */
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.upload-button__icon {
    width: 100%;
    margin-right: 0.5rem;
    padding: 2.25rem 0 2.25rem 2.25rem;
}

.upload-button:hover {
    border-color: var(--color-border-two);
}

.upload-button:hover .kg-file-card-icon::before {
    opacity: .08;
}

/* end */

.f-s {
    font-size: .7em;
}

.custom-content-leenh form.success .alert-success, .custom-content-leenh form.loading .alert-loading, .custom-content-leenh form.success+.alert-success, .custom-content-leenh form.error .alert-error {
    display: inline-block
}

.border {
    border: 1px solid rgb(124 139 154/25%);
}

.global-img {
    font-size: 1.3rem;
    line-height: 1.4;
    display: none;
    opacity: var(--opacity-one)
}

.global-button-sm {
    padding: .5rem;
    font-size: 1.3rem;
    margin-left: 1rem;
    text-transform: capitalize;
}

/**/
.ml-4 {
    margin-left: 1.5rem;
}

.form-control,
.form-control-select {
    border: 1px solid #fff;
    padding: .7rem 1.5rem;
    border-radius: var(--border-radius);
    width: 150px;
    color: var(--color-font-one);
    background-color: transparent;
    font-size: 1.7rem;
}

.form-control.name {
    width: 400px;
}

select,
option {
    color: var(--color-font-one);
    background-color: var(--color-five);
    opacity: var(--opacity-two);
}

.inputs {
    display: flex;
    flex-direction: column;
}

/**/

/*estilos del checkbox */
/* * {
                        box-sizing: border-box;
                        } */

/* Clases para los contenedores de Radio y Checkbox*/
.content-input {
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 1.7rem;
}

.content-input {
    position: relative;
    /* margin-bottom: 30px; */
    padding: 5px 0 5px 60px;
    display: block;
}


.content-input input,
.content-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}


.content-input i,
.content-input i:before {
    transition: all 0.25s ease;
}


.content-input input {
    opacity: 0;
    position: absolute;
    right: 0;
}

.content-input input+i {
    background: #f0f0f0;
    border: 2px solid rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    top: 0;
}

.content-input input[type=checkbox]+i {
    width: 52px;
    height: 30px;
    border-radius: 15px;
    box-sizing: border-box;
    background: var(--color-border-two);
}

.content-input input[type=checkbox]+i:before {
    content: '';
    /* No hay contenido */
    width: 26px;
    height: 26px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    -webkit-box-shadow: 3px 0 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 3px 0 3px 0 rgba(0, 0, 0, 0.2);
}


.content-input input[type=checkbox]+i:after {
    content: 'ON';
    position: absolute;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.6);
    top: 5px;
    left: 4px;
    opacity: 0;
    transition: all 0.25s ease 0.25s;
}

.content-input input[type=checkbox]:checked+i {
    /* background: #2AC176; */
    background: var(--ghost-accent-color);
}

.content-input input[type=checkbox]:checked+i:before {
    left: 22px;
    -webkit-box-shadow: -3px 0 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 3px 0 -3px 0 rgba(0, 0, 0, 0.2);
}

.content-input input[type=checkbox]:checked+i:after {
    opacity: 1;
}

.content-input input[type=radio]:checked+i:before {
    transform: scale(1);
    opacity: 1;
}

/* fin de los estilos del checkbox */

/* Preloder */
#preloder {
    opacity: .6;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #000;
}

.loader {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 60px;
    animation: loader 0.8s linear infinite;
    -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }

    50% {
        transform: rotate(180deg);
        border: 4px solid #673ab7;
        border-left-color: transparent;
    }

    100% {
        transform: rotate(360deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }

    50% {
        -webkit-transform: rotate(180deg);
        border: 4px solid #673ab7;
        border-left-color: transparent;
    }

    100% {
        -webkit-transform: rotate(360deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
}

/* fin Preloder */

.formMessageValdiation {
    display: none;
    color: var(--ghost-accent-color);
    text-transform: capitalize;
    font-size: 1.7rem;
}


.messageFormRegisterNewMember {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    flex-direction: column;
}

.w-100 {
    width: 100% !important;
}

.m-0 {
    margin: 0 !important;
}

.bg-dark {
    background-color: var(--color-body) !important;
    border: 1px solid var(--color-body) !important;
    box-shadow: 0 0 2px 1px var(--color-body) !important;
}

.bg-theme {
    background-color: var(--ghost-accent-color) !important;
}

.font-weight-light {
    font-weight: 300 !important;
}

.font-weight-lighter {
    font-weight: lighter !important;
}

.font-weight-normal {
    font-weight: 400 !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.font-weight-bolder {
    font-weight: bolder !important;
}

.global-button-nocolor::before {
    background-color: var(--color-three);
    color: var(--color-font-two);
}

.global-border {
    border-radius: var(--border-radius);
}